* {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    border-style: ridge;
    border-color: grey;
    height: 4.5rem;
    padding: 5px;
}

form {
    align-content: center;
}

.SearchBarDiv {
    background-color: aqua;
}

.SearchBar {
    height: 25px;
    font-size: 15px;
    border-radius: 8px;
    margin-right: 30px;
    padding-left: 25px;
}

.SearchBar:focus {
    outline: none;
    width: 175px;
    transition-duration: 1s;
}

.SearchBar:not(:focus) {
    width: 100px;
    font-weight: lighter;
    transition-duration: 1s;
}

.SearchImage {
    background-image: url("../Assets/Search-Icon.png");
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: -10px center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.selectForm {
    width: 100px;
    height: 25px;
    margin: 10px;
}

.ProductDiv {
    width: 210px;          
    height: 150px;         
    padding: 10px;
    font-size: 1rem;
    border: double gray;
}

.ProductDiv:hover {
    border-width: 1px;
    box-shadow: 5px 5px 5px 0px blue;
    font-size: 1.2vw;
    color: blue;
    transition-duration: 300ms;
}

.ProductDiv:hover .DeleteButton {
    display: inline;
}

.DeleteButton {
    right: fit-content;
    display: none;
}

.DeleteButton:hover{
    background-color: red;
}

.NewProductButtonDiv {
    position: fixed;
    display: flex;
    bottom: 0;
    margin-bottom: 1rem;
    left: 85vw;
    align-items: end;
    justify-content: end;
}

.MyNewProduct{
    text-align: center;
    background-color: black;
    color: gray;
    height: 30px;
    width: 150px;
    font-size: 1rem;
    border-radius: 10px;
    border-style: groove;
}

.MyNewProduct:hover {
    color: white;
    text-shadow: 0 0 5px white;
    border-color: blue;
    font-size: 1.1rem;
    transition-duration: 600ms;
}

.ModalWindow {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 999;
}

.ProductModal {
    border-radius: 20px;
    text-align: center;
    font-size: 35px;
    padding: 10px;
    width: 52vw;
    min-width: 200px;
    height: 32vh;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(5px);
}

.CloseModal {
    position: absolute;
    top: -18px;
    right: -18px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: black;
    font-size: 23px;
    color: white;
    cursor: pointer;
}

.CloseModal:hover {
    background-color: red;
}

.ModalWindow.open {
    display: flex;
}

@keyframes openmodal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ProductModal {
    animation: openmodal 1s;
}