<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="shortcut icon" th:href="@{/Assets/SiteLogo.png}" type="image/x-icon">
    <title>MyProductCrud</title>
</head>
<body>
    <header>
        <img th:src="@{/Assets/SiteLogo.png}" alt="">

        <form action="http://localhost:8080/MyProducts" method="post">
            <select class="selectForm"  name="category" id="categoryID" onchange="this.form.submit()">
                <option value="" selected disabled hidden>Categoria</option>
                <option class="optionForm" value="Tudo">Tudo</option>
                <option class="optionForm" value="Alimentos">Alimentos</option>
                <option class="optionForm" value="Limpeza">Limpeza</option>
                <option class="optionForm" value="Cosmeticos">Cosméticos</option>
                <option class="optionForm" value="Saude">Saude</option>
            </select>
        </form>

        <form action="http://localhost:8080/MyProducts/ByName" method="post">
            <input class="SearchBar SearchImage" type="text" name="productName" id="productNameID" placeholder="Meu produto... " requireda autocomplete="off">
        </form>
    </header>
    
    <section>

        <span th:if="${Products != null}">
            <div class="container">
                <div class="ProductDiv" th:each="product : ${Products}" id="ProductDivID">
                    <button class="DeleteButton">🗑️</button>
                    <p>Nome: <b th:text="${product.productName}"></b></p>
                    <p>Preço: <b id="priceID" th:text="${product.priceInCents}"></b></p>
                    <p>Quantidade: <b th:text="${product.quantity}"></b></p>
                    <p>Categoria: <b th:text="${product.category}"></b></p>
                </div>
            </div>
        </span>

        <span th:if="${Products == null}">
            <div style="text-align: center; font-size: 1.5rem;">
                <h1>Nenhum produto encontrado.</h1><br>
                <a href="http://localhost:8080/Product/Add" style="color: rgb(17, 0, 255);">Deseja adicionar um?</a>
            </div>
        </span>

    </section>

    <div class="NewProductButtonDiv">
        <a href="http://localhost:8080/Product/Add"><button class="MyNewProduct">New Product</button></a>
    </div>
    
</body>
</html>