<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="${/ProductPage.css}">
    <title th:text="${product.product_name}"></title>
</head>
<body>
    <div class="container">
        <h1 th:text="${product.product_name}"></h1>
        <h2 th:text="${product.price_in_cents}"></h2>
        <h2 th:text="${product.quantity}"></h2>
        <h2 th:text="${product.category}"></h2>
    </div>
</body>
</html>